/************************************ Table of Contents  *****************************

1. Header
2. Card Carousel
3. Skills
4. Timeline
5. Pricing
6. Footer

*************************************************************************************/



/* Font Family Here  */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Oxygen&display=swap');


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive !important;
}


/* Scroll Bar Design  */

body::-webkit-scrollbar {
    width: 8px;         
  }
  
  body::-webkit-scrollbar-track {
    background: var(--light-black-50); 
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--light-gray);   
    border-radius: 20px;  
  }


/*********************************** 1. Header Here  ******************************/



header {
    background-color: var(--light-black);
}
#topbar .topbar_nav{
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: var(--light-black);
}

#topbar h2 {
    color: var(--white);
}

#topbar .toggle_button {
    color: var(--white);
}

#topbar .toggle_button:hover {
    background-color: var(--orange);
    border-radius: 47%;
}

#icon{
    width: 30px;
    cursor: pointer;
    color: var(--orange);
}

.dropdown-content {
    display: none;
}

.dropdown-content p {
    padding-left: 20px;
    font-weight: 600;
    color: var(--white);

}

.dropdown-content p:hover {
    color: var(--orange);
    cursor: pointer;
}

.dropdown-content .active {
    color: var(--orange);
}

#topbar .show {
    display: block;
}

/****************** Home Page Here  ********************/

.home_content_p p {
    color: var(--orange);
}

.home_content_p h1 {
    color: var(--white);
    font-weight: 800;
}

.home_content_a a {
    text-decoration: none;
    color: var(--white);
}

.home_content_a a:hover {
    color: var(--orange);
}

.home_content_customers h2 {
    font-weight: 800;
    font-size: 3rem;
}

.home_content_customers p {
    color: var(--light-gray);
}

.home_down_arrow i {
    font-size: 2.5rem;
    color: var(--white);
}

.home_right_side img {
    transform: rotate(8deg);
    z-index: 2;
    width: 80%;
}

.home_right_img {
    position: relative;
    padding-left: 50px;
}



.home_shadow_img {
    position: absolute;
    top: 0;
}

.home_shadow_img img {
    width: 80%;
    transform: rotate(-8deg);
}

/*********************************** 2. Cards Carousel Here  ******************************/

.cards_carousel {
    background-color: var(--light-black-50);
    padding-top: 30px;
    padding-bottom: 50px;
}

.portfolio_carousel p {
    color: var(--orange);
}

.portfolio_carousel h3 {
    color: var(--white);
    font-size: 2.3rem;
    font-weight: 700;
    padding-bottom: 40px;
}

.card_position {
    position: relative;
}

.overlay_card {
    position: absolute;
    top: 15px;
    background-color: var(--light-black);
    width: 91%;
    height: 93%;
    display: none;
    cursor: pointer;
    border-radius: 10px;
}

.card:hover .overlay_card {
    display: block;

}

.card_icon i {
    font-size: 50px;
    padding: 20px;
    color: var(--white);
}

.overlay_card h2 {
    padding-left: 20px;
    color: var(--white);
}

.overlay_card p {
    padding-left: 20px;
    color: var(--light-gray);
}

.carousel_slider_icons i {
    color: var(--white);
    font-size: 2.5rem;
    cursor: pointer;
}

.carousel_numbers{
    color: var(--white);
    font-size: 25px;
}

/*********************************** 3. Skills Section Here  ******************************/

#skills {
    /* background-color: var(--light-black); */
    background-image: url(./MyComponents/Images/background_skills.jpg);
    background-position: center;
    background-size: cover;
}

.html_bars {
    background-color: var(--orange);
    height: 16px;
}

.bars_height {
    height: 8px;
    border-radius: 0;
}

.skills_heading {
    color: var(--orange);
    font-size: 1.2rem;
}

.programming_heading {
    font-size: 2.5rem;
    font-weight: 700;
}

.text_color {
    color: white;
}


/*********************************** 4. Timeline Section Here  ******************************/

#timeline {
    background-color: var(--light-black-50);
    padding-top: 30px;
    padding-bottom: 30px;
}

#timeline .time_line_heading {
    color: var(--orange);
}

#timeline h3 {
    color: var(--white);
    font-weight: 800;
}

.timeline_border {
    border-bottom: 1px solid var(--light-gray);
    margin-right: 70px;
}

.date_color {
    color: var(--text-black);
    font-size: 18px;
}

.designer_color {
    color: var(--white);
    font-size: 19px;
}

/*********************************** 5. Pricing Section Here  ******************************/

#pricing {
    background-color: var(--light-black);
    padding-top: 50px;
    padding-bottom: 50px;
}

.pricing_font {
    color: var(--orange);
    font-size: 1.2rem;
}

.servicing_color {
    color: var(--light-gray);
}

#pricing h3 {
    color: var(--white);
    font-weight: 700;
}

.rect {
    width: 100%;
    height: 75px;
    background-color: var(--light-gray);
    transition: 0.3s ease-in-out;
}

.pricing_type_colors {
    color: var(--white);
    font-weight: 600;
    font-size: 1.2rem;
}

.pricing_icons_colors {
    color: var(--white);
}

.rect:hover {
    background-color: var(--orange);
    box-shadow: 1px 1px 15px 1px var(--light-gray);
    transform: scale(1.05);
}

/*********************************** 6. Footer Here  ******************************/

#footer_form i {
    color: var(--orange);
}

#footer_form p {
    color: var(--white);
}

.contact_us {
    color: var(--orange) !important;
}

.get_in_touch {
    color: var(--white);
    font-weight: 800;
}

#footer_form {
    background-color: var(--light-black-50);
}

.fill_form {
    color: var(--text-black) !important;
}

#footer_form input {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid var(--light-gray);
    outline: none;
    background-color: transparent;
    color: var(--white);
}
input::placeholder{
    color: var(--white);
}


.submit_button {
    background-color: var(--orange) !important;
    border: none !important;
    outline: none;
    border-radius: 5px;
    color: white;
    width: 100%;
    padding: 10px;
}

.submit_button:hover {
    background-color: var(--black) !important;
}


.submit_button i {
    color: var(--white) !important;
}

.submit_button i:hover {
    color: var(--orange) !important;
}

/* Footer Note Here  */

.karu_footer {
    background-color: #000000;
}

.karu_footer h6 {
    color: #fff;
}

.karu_footer i {
    color: #ddd;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.my_icons:hover{
    cursor: pointer;
}

.my_icons{
    display: flex;
    justify-content: end;
}

.copyright_reserves{
    display: flex;
    justify-content: start;

}